$main-dark : #2e2e2e;
$main-dark-active : #1A1A1A;
$main-color : #dfe5f7;
$secondary-color:#FF7C00;
$error-color:#f13232;
*{
    font-family: 'Montserrat', sans-serif, 'Bahnschrift', 'Calibri';
}
body.popup-body{
    width: 250px;
}


input[type="range"] {
    width: 100%;
}

div.checkbox-wrapper{
    display: flex;
    input[type="checkbox"] {
        margin: 0;
        margin-top: 1px;
        margin-right: 5px;
    }
    label{
        user-select: none;
        cursor: pointer;
    }
}

section{
    border-bottom: 1px dashed $main-dark;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

p.explanation{
    margin-top: 5px;
    color:#636363;
    font-style: italic;
}
a.link-donatie, .link-email{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $main-dark;
    &:visited{
        color: $secondary-color;
    }
    svg.donation-heart{
        margin-right:5px ;
        &.beating{
            animation-name: beat;
            animation-duration: 800ms;
            animation-iteration-count: infinite;
        }
        @keyframes beat {
            0%{
                transform: scale(1.0);
            }
            30%{
                transform: scale(1.2);
            }
            100%{
                transform: scale(1.0);
            }

        }

    }
}
